body {
    background-color: #d7ebf1;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10px;
    color: #393939;
    letter-spacing: 1.3px;
    line-height: 180%;
    text-transform: lowercase;
    text-align: justify;
    background-size: 25px 25px; 
    background-image: linear-gradient(to right, #f2f8f9 1px, transparent 1px), linear-gradient(to bottom, #f2f8f9 1px, transparent 1px);
    cursor: url(cursor.gif), auto;
}

small, sub, sup {
    font-size: cal(10px,-1px);
}

b, bold, strong {
    font-weight: bold; 
    font-family: poppins;
    text-transform: uppercase;
    border-bottom: 1px solid #b7c9a4;
}

i, italic {
    color: #bcd7df; 
}

big {
    font-size: 10px;
    font-weight: bold;
    color: #b7c9a4;
}

a { 
 cursor: pointer;
  color: #bcd7df;
  text-decoration: none;
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 800;
  
}

h2 {
    font-size: 18px;
    font-family: poppins;
    color: #b7c9a4;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 110%;
}

.container {
    width: 412px;
    height: 100%;
    padding-bottom: 20px;
    z-index: 2;
    margin-left: 59px;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

img {
   max-width:100%;
   height:auto;

} 

::-webkit-scrollbar {
  display:none;
}


.bgim {
    width: 900px;
    height: 540px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -450px;
    z-index: 1!important;
    background: #eaeaea;
    border: 1px solid #c9c9c9; 
}

.bgim2 {
    width: 900px;
    height: 540px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -450px;
    z-index: 1!important;
    overflow: hidden;
    padding: 20px 0px;
    background: #f0f0f0;
    border: 1px solid #c9c9c9;
}

.galaxy {
    width: 1000px; 
    height:600px; 
    position:fixed; 
    top: 50%; 
    left: 50%;
    margin-left: -500px;
    margin-top: -300px;
    z-index: 99;
}

::selection {
  background: #dcbdd7; 
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.5s ease 0.3s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  max-width:300px;
  padding:6px 15px; 
  margin:-35px 7px -15px 7px; 
  background-color:rgba(220,189,215,0.7);
  font-size:7px;
  line-height: 150%;
  letter-spacing: 1px;
  border-radius: 12px;
  border: 1px solid #dcbdd7;
  text-transform:uppercase;  
  color:#f8f8f8;
  opacity: 0;
  z-index:9999999999999999999999999999999999999999999999!important;
  
}

[data-title] {
  display: inline;
  position: relative;
}

.tabcontent {
    background-image: linear-gradient(to left top, #dfefb0,#f4d6e9, #cbdff3);
    top: 0px;
	  display: none;
    width: 529px;
    height: 540px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -269px;
    margin-left: -78px;
    z-index: 99;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tabcontent2 {
  top: 0px;
  width: 529px;
  height: 540px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -269px;
  margin-left: -78px;
  z-index: 99;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* animations */ 

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(183, 201, 164, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(183, 201, 164, 0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(183, 201, 164, 0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} 


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, -25px); }
	100% { transform: translate(0, -0px); }	
}

/* rules and oc */ 

.linkzz {
width: 11px; height:11px; border-radius: 50%; background: #f0f0f0; border: 1px solid #c9c9c9; transition: 0.3s; text-align: left; margin: 0px 35px; display: inline-block;
}

.linkzz:hover {
    transition: 0.3s; color: #b7c9a4;
}
.treintatres {
width: 350px; height: 270px; position: absolute; top: 58px; left: 69px; overflow: scroll; border: 1px solid #c9c9c9; padding: 20px; background: rgba(240,240,240,1); 
}

.treintacuatro {
width: 350px; height: 270px; overflow: scroll;
}

.treintacinco {
width: 350px; height: 40px; position: absolute; top: 380px; left: 69px; text-align: center; background: rgba(240,240,240,1); border: 1px solid #c9c9c9; padding: 20px; 
}

.treintaseis {
width: 70px; height: auto; padding: 2px 10px; font-family: poppins; text-transform: uppercase; text-align: center; background: rgba(183,201,164,0.5); border: 1px solid #b7c9a4; border-radius: 10px; font-size: 7px; font-weight: 400; display: inline-block; margin: 3px 5px;
}

.treintaseis a, link {
    color: #f8f8f8;
}

.bolds {
    font-family: poppins; font-weight: 800; color: #bcd7df; text-transform: uppercase;
}

.main {
width: 422px; height: 520px; position: absolute; left: 45px; top: 25px; overflow: hidden; 
}

.info {
width: 230px; height: 135px; background: rgba(240,240,240,0.9); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid #c9c9c9; position: absolute; top: 33px; left: 20px;
}

.octitle {
width: 80px; height: auto; padding: 5px 10px; background: rgba(220,189,215,0.5); border: 1px solid #dcbdd7; border-radius: 11px; position: absolute; top: -10px; left: -8px; font-family: poppins; text-transform: uppercase; font-weight: 700; font-size: 8px; color: #f8f8f8; line-height: 100%;
}

.occ {
width: 5px; height: 5px; background: #f8f8f8; border-radius: 50%; float: right; margin-top: 1px;
}

.infobox {
width: 160px; height: 100px; position: absolute; left: 15px; top: 20px; overflow: scroll; line-height: 140%; 
}

.bio {
width: 380px; height: 110px; background: rgba(240,240,240,0.9); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid #c9c9c9; position: absolute; top: 193px; left: 20px;
}

.bbox {
   width: 330px; 
   height: 55px; 
   position: absolute; 
   left: 25px; 
   top: 30px; 
   overflow: scroll; 
   line-height: 140%; font: 14px;
}

.skills {
width: 380px; height: 135px; background: rgba(240,240,240,0.9); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid #c9c9c9; position: absolute; bottom: 54px; left: 20px;
}

.slbox {
width: 330px; height: 85px; position: absolute; left: 25px; top: 30px; overflow: scroll; line-height: 140%;
}

.s1 {
width: 160px; height: 35px; position: absolute; 
}

.skbox {
width: 153px; height: 10px; border: 1px solid #c9c9c9; border-radius: 10px; padding: 2px; background: #f0f0f0;
}

.sk {
width: 153px; height: 10px; border-radius: 10px; background: #eaeaea; overflow: scroll; position: absolute;
}

.skill {
width: 0%; height: 150px; background: #b7c9a4; position: absolute; left: -100px; -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sname {
width: 160px; font-family: poppins; text-transform: uppercase; font-size: 8px; letter-spacing: 1px; text-align: center; font-weight: 700; color: #dcbdd7; margin-top: 4px;
}

.sk2 {
width: 160px; height: 35px; position: absolute; top: 50px;
}

.sk3 {
width: 160px; height: 35px; position: absolute; right: 0px;
}

.sk4 {
width: 160px; height: 35px; position: absolute; top: 50px; right: 0px;
}

.ocp {
width: 100px; height: 110px; padding: 13px; border: 1px solid #c9c9c9; background: rgba(240,240,240,0.9); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); position: absolute; right: 20px; top: 32px;
}

.ocie {
width: 100px; height: 110px; background: #eaeaea; overflow: hidden;
}

.ocie img {
    width: 100px; height: 110px;
}

/* new things */

.side {
width: 370px; height: 540px; position: absolute; border-right: 1px solid #c9c9c9; bottom: 0; background-color: #f0f0f0; 
}

.gradient {
width: 280px; height: 410px; background-image: linear-gradient(to left top, #dfefb0,#f4d6e9, #cbdff3); position: absolute; top: 80px; left: 20px; z-index: 999;
}

.title {
width: 300px; height: 50px;position: absolute; font-family: poppins; text-transform: uppercase; font-weight: 600; color: #ffffff; transform: rotate(-90deg); text-align: left; font-size: 8px; left: -110px; top: 210px; line-height: 110%; display: flex; align-items: center; letter-spacing: 1px;
}

.sidebar {
width: 210px; height: 210px; background: #f0f0f0; position: absolute; top: 30px; left: 150px; z-index: 999; border: 1px solid #c9c9c9; padding: 10px; -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sideb {
width: 210px; height: 210px; background: #eaeaea; position: absolute;
}

.sideb img {
    width: 210px; height: 210px;
}

.colors {
width: 26px; height: 100px; position: absolute; left: 367px; top: 515px; z-index: 999;
}

.circle {
width: 20px; height: 20px; padding: 2px; background: #eaeaea; border-radius: 50%; border: 1px solid #c9c9c9; margin-bottom: 20px; -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.c3 {
width: 20px; height: 20px; background: #bcd7df; border-radius: 50%;
}

.todo {
width: 210px; height: 205px; background: rgba(240,240,240,0.5); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); position: absolute; z-index: 999; left: 130px; top: 405px; border: 1px solid #c9c9c9; -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.totitle {
width: 160px; height: 20px; font-size: 12px; font-weight: 700; text-transform: uppercase; text-align: center; display: flex; align-items: center; justify-content: center; left: 20px; top: 12px; position: absolute; font-family: poppins; color: #b7c9a4;
}

.to1 {
width: 150px; height: 24px; position: absolute; right: 14px; top: 43px; display: flex; align-items: center;
}

.to2 {
width: 150px; height: 24px; position: absolute; right: 14px; top: 73px; display: flex; align-items: center;
}

.to3 {
width: 150px; height: 24px; position: absolute; right: 14px; top: 103px; display: flex; align-items: center;
}

.to4 {
width: 150px; height: 24px; position: absolute; right: 14px; top: 133px; display: flex; align-items: center;
}

.to5 {
width: 150px; height: 24px; position: absolute; right: 14px; top: 163px; display: flex; align-items: center;
}

.t1 {
width: 12px; height: 12px; background: #eaeaea; position: absolute; left: 14px; top: 48px; border-radius: 50%; border: 1px solid #c9c9c9; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #b7c9a4;
}

.t2 {
width: 12px; height: 12px; background: #eaeaea; position: absolute; left: 14px; top: 78px; border-radius: 50%; border: 1px solid #c9c9c9; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #b7c9a4;
}

.t3 {
width: 12px; height: 12px; background: #eaeaea; position: absolute; left: 14px; top: 108px; border-radius: 50%; border: 1px solid #c9c9c9; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #b7c9a4;
}

.t4 {
width: 12px; height: 12px; background: #eaeaea; position: absolute; left: 14px; top: 138px; border-radius: 50%; border: 1px solid #c9c9c9; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #b7c9a4;
}

.t5 {
width: 12px; height: 12px; background: #eaeaea; position: absolute; left: 14px; top: 168px; border-radius: 50%; border: 1px solid #c9c9c9; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #b7c9a4;
}

.l1 {
width: 2px; height: 144px; background: #dcbdd7; position: absolute; left: 36px; top: 43px;
}

.l2 {
width: 182px; height: 1px; background: #c9c9c9; position: absolute; left: 14px; top: 70px;
}

.l3 {
width: 182px; height: 1px; background: #c9c9c9; position: absolute; left: 14px; top: 100px;
}

.l4 {
width: 182px; height: 1px; background: #c9c9c9; position: absolute; left: 14px; top: 130px;
}

.l5 {
width: 182px; height: 1px; background: #c9c9c9; position: absolute; left: 14px; top: 160px;
}

.clip {
width: 30px; height: 30px; position: absolute; font-size: 24px; justify-content: center; display: flex; align-items: center; color: #dcbdd7; top: 5px; left: 5px;
}

.gbar {
width: 529px; height: 45px; bottom: 0px; position: absolute; background-image: linear-gradient(to left, #dfefb0,#f4d6e9, #cbdff3); border-top: 1px solid #c9c9c9;
}

.nside {
width: 300px; height: 240px; background: #f0f0f0; padding: 10px; border: 1px solid #c9c9c9; position: absolute; left: 135px; top: 70px;
}

.ns {
width: 300px; height: 240px; background: #dcbdd7; position: absolute;
}

.ns img {
    width: 300px; height: 240px;
}

.heart {
width: 30px; height: 30px; background: rgba(240,240,240,0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); position: absolute; border-radius: 50%; top: 10px; right: 10px; display: flex; align-items: center; justify-content: center; font-size: 16px; color: #bcd7df;
}

.ndesc {
width: 200px; height: 190px; background: rgba(240,240,240,0.5); 
backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
border: 1px solid #c9c9c9; position: absolute; left: 175px; top: 226px; 
-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.descri {
width: 150px; height: 100px; position: absolute; top: 65px; left: 25px; overflow: scroll; 
}

.lines {
width: 200px; height: 3px; overflow: hidden; position: absolute; top: 40px;
}

.li1 {
width: 67px; height: 3px; background: #dfefb0; position: absolute;
}

.li2 {
width: 66px; height: 3px; background: #f4d6e9; position: absolute; left: 67px;
}

.li3 {
width: 67px; height: 3px; background: #cbdff3; position: absolute; left: 133px;
}

.ntitle {
width: 150px; height: 20px; position: absolute; left: 40px; top: 11px; display: flex; align-items: center; justify-content: center; font-family: poppins; font-size: 12px; font-weight: 700; text-transform: uppercase; color: #b7c9a4;
}

.nbu {
width: 14px; height: 14px; background: rgba(220,189,215,0.5); border: 1px solid #dcbdd7; position: absolute; left: 12px; top: 12px; border-radius: 50%;
}

.icon {
width: 60px; height: 60px; padding: 5px; background: #f0f0f0; border-radius: 50%; border: 1px solid #c9c9c9; position: absolute; top: 295px; left: 331px; transition: 0.5s; animation: pulse 2s infinite;
}

.icn {
width: 60px; height: 60px; background: #b7c9a4; border-radius: 50%; overflow: hidden;
}

.icn img {
    width: 60px; height: 60px;
}

.ic {
width: 450px; height: 20px; position: absolute; left: 40px; top: 505px; text-align: center;
}

.closetab {
  width: 15px;
  height: 15px;
  text-align: center;
  margin-top: 22px;
  margin-left: 483px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
  border-radius: 12px;
  text-transform:uppercase;  
  color:#ffffff; 
  z-index:9999999999999999999999999999999999999999999999!important;
}

#player-container  #play-pause {
  cursor: pointer;
  display: inline-block;
  margin: 105px 345px;
  text-indent: -999999px;
  z-index: 2;
  background-image: url(play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(183, 201, 164, 0.8);
  border: 1px solid #b7c9a4;
  position: absolute;
  text-align: center;
  animation: pulse 2s infinite;
  z-index: 999;
  }
  
.play {
  background-image: url(play.svg);
    }
.pause {
  background-image: url(pause.svg)!important;
    }

